<div class="d-flex" role="toolbar">
  <div class="ms-2 mt-1 me-2 toolbar-name">
    <img class="toolbar-logo" src="../../assets/RemoraFishLogo_adobe_express.svg">
    REMORA FISH
  </div>
  <div class="btn-group me-2" role="group">
    <button class="btn btn-primary toolbar-btn" (click)="startSniff()">
      <i class="bi bi-play-fill"></i>
    </button>
    <button class="btn btn-primary toolbar-btn" (click)="stopSniff()">
      <i class="bi bi-stop-fill"></i>
    </button>
  </div>
  <div class="flex-fill"></div>
  <div class="btn-group float-right" role="group">
    <button class="btn btn-primary toolbar-btn" (click)="toggleInfoPanel()">
      <i class="bi bi-list"></i>
    </button>
  </div>
</div>