<div class="d-flex" role="toolbar">
  <div class="ms-2 mt-1 me-2 toolbar-name">
    <img class="toolbar-logo" src="../../assets/RemoraFishLogo_adobe_express.svg">
    REMORA FISH
  </div>
  <div class="btn-group me-2" role="group">
    <button class="btn btn-primary toolbar-btn" (click)="startSniff()" 
    data-bs-toggle="tooltip" title="start sniffing for packets">
      <i class="bi bi-play-fill"></i>
    </button>
    <button class="btn btn-primary toolbar-btn" (click)="stopSniff()" 
    data-bs-toggle="tooltip" title="stop sniffing for packets">
      <i class="bi bi-stop-fill"></i>
    </button>
  </div>
  <div class="btn-group me-2" role="group">
    <button class="btn btn-primary toolbar-btn" (click)="openHiddenItemsList()" 
    data-bs-toggle="tooltip" title="see hidden nodes and links">
      <i class="bi bi-eye-fill"></i>
    </button>
  </div>
  <div class="btn-group me-2" role="group" ngbDropdown>
    <button class="btn btn-primary toolbar-btn" id="no-proc-dropdown" ngbDropdownToggle 
    data-bs-toggle="tooltip" title="Toggle 'no process' node handle behavior.">
      button
    </button>
    <div ngbDropdownMenu="no-proc-dropdown" class="dropdown border border-1">
      <button ngbDropdownItem class="toolbar-btn" (click)="graphService.showNoProcNode()">{{graphService.SHOW_NO_PROC_NODE}}</button>
      <button ngbDropdownItem class="toolbar-btn" (click)="graphService.minNoProcNode()">{{graphService.MIN_NO_PROC_NODE}}</button>
      <button ngbDropdownItem class="toolbar-btn" (click)="graphService.hideNoProcNode()">{{graphService.HIDE_NO_PROC_NODE}}</button>
    </div>
  </div>
  <div class="flex-fill"></div>
  <div class="btn-group float-right" role="group">
    <button class="btn btn-primary toolbar-btn" (click)="toggleInfoPanel()" 
    data-bs-toggle="tooltip" title="open info panel">
      <i class="bi bi-list"></i>
    </button>
  </div>
</div>