<div class="btn-toolbar main-toolbar" role="toolbar">
  <div class="ms-2 me-2 mt-3 toolbar-name">
    <img class="toolbar-logo" src="../../assets/RemoraFishLogo_adobe_express.svg">
    REMORA FISH
  </div>
  <div class="btn-group me-2" role="group">
    <button class="btn btn-primary toolbar-btn" (click)="startSniff()">
      <i class="bi bi-play-fill"></i>
    </button>
    <button class="btn btn-primary toolbar-btn" (click)="stopSniff()">
      <i class="bi bi-stop-fill"></i>
    </button>
  </div>
</div>