.main-toolbar {
  height: calc(var(--TOOLBAR_HEIGHT) - 3px);
}

.toolbar-btn {
  color: var(--MAIN_COLOR);
}

.toolbar-btn:hover {
  color: var(--BACKGROUND_COLOR);
}

.toolbar-text {
  color: var(--MAIN_COLOR);
}

.toolbar-label-text {
  font-size: x-small;
}

.toolbar-logo {
  height: 25px;
}