.info-panel {
  color: var(--GRAPH_TEXT_COLOR);
  width: var(--INFO_PANEL_WIDTH);
  height: calc(100vh - var(--TOOLBAR_HEIGHT) - 10px);
}

.headers {
  color: var(--INDICATION_BORDER_COLOR);
}

p {
  font-size: 12px
}

.packet-container {
  height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
}

.packet-info {
  width: 70px;
}