.info-panel {
  color: var(--GRAPH_TEXT_COLOR);
  width: var(--INFO_PANEL_WIDTH);
  height: calc(100vh - var(--TOOLBAR_HEIGHT) - 10px);
}

.headers {
  color: var(--INDICATION_BORDER_COLOR);
}

p {
  font-size: 12px
}

.btn-info-panel {
  color: var(--INDICATION_BORDER_COLOR);
  background-color: var(--BACKGROUND_COLOR);
  border-color: var(--INDICATION_BORDER_COLOR);
}

.btn-info-panel:hover {
  color: var(--BACKGROUND_COLOR);
  background-color: var(--INDICATION_BORDER_COLOR);
  border-color: var(--INDICATION_BORDER_COLOR);
}

.dropdown {
  color: var(--BACKGROUND_COLOR);
  background-color: var(--BACKGROUND_COLOR);
  border-color: var(--INDICATION_BORDER_COLOR);
}

.packet-container {
  overflow-y: auto;
  overflow-x: hidden;
}

.packet-container-node-height {
  height: calc(100vh - var(--TOOLBAR_HEIGHT) - 155px);
}

.packet-container-link-height {
  height: calc(100vh - var(--TOOLBAR_HEIGHT) - 205px);
}

.packet-info {
  width: 70px;
}