.module {
  background-color: var(--BACKGROUND_COLOR);
  border-color: var(--COMPLEMENTARY_COLOR) !important;
}

.toolbar {
  height: var(--TOOLBAR_HEIGHT);
}

.main-window {
  height: calc(100vh - var(--TOOLBAR_HEIGHT));
}

.graph-component-width-info-open {
  width: calc(100vw - var(--INFO_PANEL_WIDTH) - 5px);
}

.graph-component-width-info-closed {
  width: calc(100vw  - 5px);
}