/* Custom Styles for a consistent theme */
:root {
    --MAIN_COLOR: #72aaaa;
    --MAIN_COLOR_INDICATION: #384e4e;
    --COMPLEMENTARY_COLOR: #945b5c;
    --BACKGROUND_COLOR: #191919;
    --GRAPH_TEXT_COLOR: #c2c2c2;
    --INDICATION_BORDER_COLOR: #f6c457;

    --TOOLBAR_HEIGHT: 41px;
    --INFO_PANEL_WIDTH: 500px;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: var(--MAIN_COLOR);
}

.node-border {
  stroke: var(--INDICATION_BORDER_COLOR);
  stroke-width: 1;
}

.hover-indication {
  filter: drop-shadow(0px 0px 5px var(--INDICATION_BORDER_COLOR));
}

.dropdown {
  background-color: var(--BACKGROUND_COLOR);
}

.dropdown-menu.show {
  min-width: fit-content;
}

.toolbar-btn:hover {
  color: var(--BACKGROUND_COLOR);
  background-color: var(--MAIN_COLOR);
  border-color: var(--MAIN_COLOR);
}

/* Overridden ngx-toast Styles */
.toast-container .ngx-toastr {
  box-shadow: 0 0 1px var(--INDICATION_BORDER_COLOR) !important;
}

.toast-container .toast-success {
  background-color: var(--MAIN_COLOR) !important;
}

.toast-container .toast-error {
  background-color: var(--COMPLEMENTARY_COLOR) !important;
}

/* Overridden Bootstrap Colors */
.btn-primary {
  background-color: var(--BACKGROUND_COLOR) !important;
  border-color: var(--MAIN_COLOR) !important;
}

.btn-primary:hover {
  background-color: var(--MAIN_COLOR) !important;
}

.theme-modal .modal-content {
  background-color: var(--BACKGROUND_COLOR);
  border-color: var(--INDICATION_BORDER_COLOR);
  color: var(--GRAPH_TEXT_COLOR);
}
.theme-modal .close {
  color: var(--GRAPH_TEXT_COLOR);
}