/* Custom Styles for a consistent theme */
:root {
    --MAIN_COLOR: #72aaaa;
    --COMPLEMENTARY_COLOR: #945b5c;
    --BACKGROUND_COLOR: #191919;
    --GRAPH_TEXT_COLOR: #454444;
    --INDICATION_BORDER_COLOR: #f6c457;

    --TOOLBAR_HEIGHT: 50px;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: var(--MAIN_COLOR);
}

.node-border {
  stroke: var(--INDICATION_BORDER_COLOR);
  stroke-width: 1;
}

.hover-indication {
  filter: drop-shadow(0px 0px 5px var(--INDICATION_BORDER_COLOR));
}

/* Overridden ngx-toast Styles */
.toast-container .ngx-toastr {
  box-shadow: 0 0 1px var(--INDICATION_BORDER_COLOR) !important;
}

.toast-container .toast-success {
  background-color: var(--MAIN_COLOR) !important;
}

.toast-container .toast-error {
  background-color: var(--COMPLEMENTARY_COLOR) !important;
}

/* Overridden Bootstrap Colors */
.btn-primary {
  background-color: var(--background-color) !important;
  border-color: var(--MAIN_COLOR) !important;
}

.btn-primary:hover {
  background-color: var(--MAIN_COLOR) !important;
}