/* You can add global styles to this file, and also import other style files */
:root {
    --MAIN_COLOR: #7bc6c5;
    --COMPLEMENTARY_COLOR: #bb6d6e;
    --BACKGROUND_COLOR: #9B9A9A;
}

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2 {
    color: var(--MAIN_COLOR);
}

.hover-indication{
    stroke: black;
    stroke-width: 3;
}